In [ ]:
class Person :
    def __init__(self , name ,age, gender,occupation):
        self.name = name,
        self.age = age,
        self.gender = gender,
        self.occupation = occupation,

In [3]:
p2 = Person('aishh' ,22,'female','software engg')

In [4]:
p2.name

('aishh',)

In [5]:
p2.age

(22,)

In [6]:
p2.gender

('female',)

In [7]:
p2.occupation

('software engg',)

In [8]:
p2.occupation ='AI engineer'

In [9]:
p2.occupation

'AI engineer'

In [10]:
p2.salary= 5000000

In [11]:
p2.salary

5000000

In [97]:
p2.__delattr__('salary')

AttributeError: 'Person' object has no attribute 'salary'

In [99]:
p2.salary

AttributeError: 'Person' object has no attribute 'salary'

In [37]:
class Person :
    country = 'India'
    def __init__(self , name ,age, gender,occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

In [38]:
p1= Person(name='uma',age=23,occupation = 'teacher',gender ='female')

In [39]:
p1.country

'India'

In [ ]:
class Person :
    country = 'India'
    def __init__(self , name ,age, gender,occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation


        def talk(self):
            print(f' Hello there i am {self.name}')
            print(f'I am {self.age} years old')

In [ ]:
p4 = Person()

In [ ]:
# create student class with dataclasses
-Name
-gender
-marks
-hobbies

In [44]:
from dataclasses import dataclass
from typing import Literal

In [87]:
from warnings import filterwarnings
filterwarnings('ignore')

In [89]:
@dataclass
class student:
    name :str
    marks:int|float
    gender:Literal['Male','Female']
    hobbies :list[str]

    def get_info(self):
        print(f'i am{self.name}')
        print('i got marks{self.marks}')
        print(f'i am {self.gender}')
        print(f'my hobbies are{self.hobbies}')

In [90]:
s1= student(name='Malhar',marks=56.67,gender='Male',hobbies=['reading','writting'])

In [91]:
s1.hobbies

['reading', 'writting']

In [92]:
s1.marks

56.67

In [93]:
s1.name

'Malhar'

In [95]:
s1.get_info()

i amMalhar
i got marks{self.marks}
i am Male
my hobbies are['reading', 'writting']

In [69]:
@dataclass
class Account:
    Name:str
    acc_no:str
    bal:float|int
    def check_balance(self):
        print(f'Current Account balance of account {self.acc_no} is {self.bal}')

    def deposit(self,amt):
            print(f'Amount of {amt} is added in {self.acc_no}')
            self.bal=self.bal+amt
            self.check_balance()

    def withdraw(self ,amt:int|float):
         if self.bal < amt:
              raise ValueError('Insufficient Balance')
         else:
              self.bal =self.bal-amt
              print('Amount of',amt,'is withdrawed form' , self.acc_no)
              self.check_balance()

    def Transfer(self,amt:int|float,ac= 'Account'):
         self.withdraw(amt) 
         ac.deposit(amt)

In [70]:
u1=Account('priya',1234,2000)

In [71]:
u1.acc_no

1234

In [72]:
u1.bal

2000

In [73]:
u1.Name

'priya'

In [74]:
u1.check_balance()

Current Account balance of account 1234 is 2000

In [75]:
u1.deposit(500)

Amount of 500 is added in 1234
Current Account balance of account 1234 is 2500

In [77]:
u1.withdraw(2000)

Amount of 2000 is withdrawed form 1234
Current Account balance of account 1234 is 500

In [78]:
u1.withdraw(500)

Amount of 500 is withdrawed form 1234
Current Account balance of account 1234 is 0

In [37]:
from warnings import filterwarnings
filterwarnings('ignore')

In [38]:
import math

class Triangle:
    def __init__(self, side1, side2, side3):
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3

    def is_valid(self):
        # Check if the sides form a valid triangle
        return (self.side1 + self.side2 > self.side3 and
                self.side2 + self.side3 > self.side1 and
                self.side1 + self.side3 > self.side2)

    def perimeter(self):
        # Return the perimeter of the triangle
        return self.side1 + self.side2 + self.side3

    def area(self):
        if not self.is_valid():
            raise ValueError("The given sides do not form a valid triangle.")
        
        # Using Heron's formula to calculate area
        s = self.perimeter() / 2
        area = math.sqrt(s * (s - self.side1) * (s - self.side2) * (s - self.side3))
        return area

In [ ]:
triangle = Triangle(3, 60, 5)

if triangle.is_valid():
    print("Perimeter:", triangle.perimeter())
    print("Area:", triangle.area())
    print()
else:
    print("Invalid triangle")
    ()

Invalid triangle

In [46]:
triangle.side1

3

In [47]:
triangle.side2

60

In [48]:
triangle.side3

5

In [49]:
triangle.area()

ValueError: The given sides do not form a valid triangle.

In [44]:
triangle.perimeter()

14

In [36]:
triangle.is_valid()

True

In [29]:
@dataclass
class Triangle :
    a : int|float
    b : int|float
    c : int|float
        
    def perimeter(self):
        if (
            (self.a + self.b > self.c) and 
            (self.b + self.c > self.a)  and 
            (self.c + self.a > self.b) ):
             return self.a + self.b + self.c
             
      
    def Area(self):
        if self.perimeter() is not None:
            s = self.perimeter()/2
            return (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)
        else:
            return 'Perimeter is None'

NameError: name 'dataclass' is not defined

In [2]:
from dataclasses import dataclass

In [3]:
@dataclass
class Calculator:
    x : int|float
    y : int|float

    def addition(self):
        if isinstance(self.x , (int, float)) and isinstance(self.y , (int, float)):
            return self.x + self.y
    
    def subtraction(self):
        if self.addition() is not None:
            return self.x - self.y
    
    def multiplication(self):
        if self.addition() is not None:
            return self.x*self.y
    
    def division(self):
        if self.y != 0 and  self.addition() is not None:
            return self.x/self.y
        else:
            raise ValueError('Infinity')

In [7]:
o1 = Calculator(2,6)

In [8]:
o2 = Calculator(2, 'Science')

In [9]:
o3 = Calculator(34,0)

In [12]:
Calculator.addition()

TypeError: Calculator.addition() missing 1 required positional argument: 'self'